* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import "mixins.scss";
@import "fonts.scss";

html {
	background-color: #000;
}
body {
	max-width: 1290px;
	min-width: 1290px;
	margin: 0 auto;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
	font-family: Lora;
	font-variation-settings: "wght" 400;
}

h1,
h2 {
	font-size: 5.5rem;
	line-height: 4.5rem;
}

h3 {
	font-size: 4rem;
	letter-spacing: 0.2rem;
}

h4 {
	font-size: 2rem;
	line-height: 2rem;
}

p {
	font-size: 1rem;
	font-family: "Work Sans";
	font-variation-settings: "wght" 600;
	margin-block: 2vw;
	line-height: 2rem;
}

button {
	all: unset;
	font-size: 1.2rem;
	font-family: "Work Sans";
	border: 1px solid #fff;
	padding: 15px 30px;
	transition: ease 0.4s all;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

/* ========== HEADER ========== */

header {
	@include bgColor(#000, #fff);
	padding: 0 10vw 10vw;
	text-align: center;
	article {
		padding-top: 5vw;
		h1:last-of-type {
			@include stroke(#fff, #000);
			font-variation-settings: "wght" 600;
		}
	}
	article.logo {
		@include flex;
		img {
			width: 54px;
		}
	}
}
/* ========== STATISTICS ========== */

#statistic {
	@include bgColor(#000, #fff);
	padding: 3vw 10vw 2vw;
	background: url(../img/map.svg) 100% 77%/39% no-repeat;
	h2 {
		width: 70vw;
		line-height: 7rem;
	}
	article:first-of-type {
		margin-top: 8vw;
	}
	article {
		margin: 5vw 0;
		p {
			margin: 0.5vw 0;
		}
	}
}
/* ========== ACTION ========== */

#action {
	@include bgColor(#fff, #000);
	position: relative;
	height: 300vh;
	img {
		position: absolute;
	}
	.pic1 {
		right: 150px;
		top: -90px;
	}
	.pic2 {
		top: 250px;
		left: 40px;
	}

	.pic3 {
		right: 0;
		top: 600px;
	}

	.pic4 {
		left: 300px;
		top: 900px;
	}

	.pic5 {
		right: 200px;
		top: 1000px;
	}

	.pic6 {
		left: 0px;
		bottom: 1000px;
	}
	.pic7 {
		right: 200px;
		bottom: 600px;
	}
	article {
		margin: 0 auto;
		padding: 30vw 0 100vw;
		width: 33vw;
	}
	p {
		margin: 1rem auto;
		width: 33vw;
	}
}
/* ========== GOLDEN BEAR ========== */

#golden-bear {
	@include bgColor(#000, #fff);
	position: relative;
	padding: 17vw 10vw 0;
	.images {
		margin: 0 2rem;
		position: relative;
		top: 80px;
		img:first-of-type {
			width: 48vw;
		}
		img:last-of-type {
			width: 25vw;
			z-index: 3;

			position: absolute;
			margin: 2rem;
			bottom: 40px;
			right: -80px;
		}
	}
	.circle {
		width: 25vw;
		position: absolute;
		bottom: -250px;
		right: -110px;
		z-index: 1;
		animation: rotate 4s infinite linear;
	}
}

/* ========== POPPY BEAR ========== */

#poppy-bear {
	@include bgColor(#fff, #000);
	padding: 25vw 10vw 5vw;
	.images {
		margin: 2rem;
		position: relative;
		display: flex;
		img:first-of-type {
			margin-left: auto;
			width: 48vw;
		}
		img:last-of-type {
			width: 25vw;

			position: absolute;
			margin: 2rem;
			bottom: 80px;
			left: -80px;
		}
	}
}

.text {
	@include flex;
	.title {
		width: 30vw;
		p {
			margin-block: 0 1vw;
		}
	}
	.quote {
		width: 33vw;
		p {
			margin-block: 1vw 0;
		}
	}
}

/* ========== JOIN ========== */

#join {
	@include bgColor(#000, #fff);
	position: relative;
	overflow: hidden;
	padding: 7vw 10vw 5vw;
	p {
		margin-block: 1rem;
	}
	h4 {
		width: 31vw;
	}
	button {
		margin-top: 1rem;
	}
}

.banner {
	@include bgColor(#fff, #000);
	position: absolute;
	transform: translateX(300px) rotate(45deg);
	h2 {
		animation: run 3s infinite linear;
		span {
			@include stroke(#000, #fff);
		}
	}
}

footer {
	@include bgColor(#000, #fff);
	padding: 0 10vw 5vw;
	@include flex;
	section {
		.socials {
			img {
				width: 20px;
			}
		}
		.credits {
			p {
				margin-block: 1rem;
			}
		}
	}
	.sponsor {
		img {
			width: 7vw;
		}
	}
}

/* ========== ANIMATIONS ========== */

@keyframes run {
	from {
		transform: translate(0);
	}
	50% {
		transform: translate(30%);
	}
	to {
		transform: translate(0);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
