* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import "mixins.scss";
@import "fonts.scss";

html {
	background-color: #000;
}
body {
	max-width: 1290px;
	min-width: 1290px;
	margin: 0 auto;
	overflow-x: hidden;
}

/* ========== GLOBAL STYLES ========== */

h1,
h2,
h3,
h4 {
	font-family: Lora;
	font-variation-settings: "wght" 600;
}

h1,
h2 {
	font-size: 5.5rem;
	line-height: 4.5rem;
}

h3 {
	font-size: 4rem;
	letter-spacing: 0.2rem;
}

h4 {
	font-size: 2rem;
	line-height: 2rem;
}

p {
	font-size: 1rem;
	font-family: "Work Sans";
	font-variation-settings: "wght" 600;
	margin: 1vw 0;
	line-height: 2rem;
}

/* ========== BUTTON ========== */

button {
	all: unset;
	font-size: 1.2rem;
	font-family: "Work Sans";
	border: 1px solid #fff;
	padding: 15px 30px;
	transition: ease 0.4s all;
	&:hover {
		@include bgColor(#fff, #000);
	}
}

/* ========== (1)HEADER ========== */

header {
	@include bgColor(#000, #fff);
	padding: 0 10vw 10vw;
	text-align: center;
	/* headline */
	article {
		padding-top: 5vw;
		h1:last-of-type {
			@include stroke(#fff, #000);
		}
	}
	/* logo  */
	article.logo {
		@include flex;
		img {
			width: 54px;
		}
	}
}
/* ========== (2.1)STATISTICS ========== */

#statistic {
	@include bgColor(#000, #fff);
	padding: 3vw 10vw 2vw;
	background: url(../img/map.svg) 100% 77%/39% no-repeat;
	h2 {
		width: 70vw;
		line-height: 7rem;
	}
	article:first-of-type {
		margin-top: 8vw;
	}
	article {
		margin: 5vw 0;
		p {
			margin-block: 0.5vw;
		}
	}
}
/* ========== (2.2)ACTION ========== */

#action {
	@include bgColor(#fff, #000);
	position: relative;
	/* text */
	article {
		margin: 0 auto;
		padding: 30vw 0 17vw;
		width: 33vw;
		p:last-of-type {
			margin: 700px 0 0;
		}
	}
	img {
		position: absolute;
	}
	.s-img {
		width: 240px;
	}
	.l-img {
		width: 300px;
	}
	.pic1 {
		@include absolute($t: -90px, $r: 150px);
	}
	.pic2 {
		@include absolute($t: 250px, $l: 40px);
	}
	.pic3 {
		@include absolute($t: 600px, $r: 0);
	}
	.pic4 {
		@include absolute($t: 900px, $l: 300px);
	}
	.pic5 {
		@include absolute($t: 1000px, $r: 200px);
	}
	.pic6 {
		@include absolute($t: 1340px, $l: 0);
	}
	.pic7 {
		@include absolute($t: 1690px, $r: 240px, $z: 5);
	}
}
/* ========== (2.3)GOLDEN BEAR & POPPY BEAR ========== */
.text {
	@include flex;
	.title {
		width: 30vw;
		p {
			margin-block: 0 1vw;
		}
	}
	.quote {
		width: 35vw;
		p {
			margin-block: 1vw 0;
		}
	}
}
.images {
	img:first-of-type {
		width: 48vw;
	}
	img:last-of-type {
		width: 25vw;
	}
}
/* ========== (2.3)GOLDEN BEAR ========== */

#golden-bear {
	@include bgColor(#000, #fff);
	position: relative;
	padding: 15vw 10vw 0;
	.images {
		position: relative;
		top: 80px;
		left: 40px;
		img:last-of-type {
			@include absolute($b: 40px, $r: -20px, $z: 3);
			margin: 2rem;
		}
	}
	/* ========== (2.3.1)ANIMATED LOGO ========== */

	.circle {
		@include absolute($b: -250px, $r: -110px, $z: 1);
		width: 25vw;
		animation: rotate 10s infinite linear;
	}
}

/* ========== (2.4)POPPY BEAR ========== */

#poppy-bear {
	@include bgColor(#fff, #000);
	padding: 28vw 10vw 5vw;
	.images {
		position: relative;
		display: flex;
		margin: 4vw 0;
		img:first-of-type {
			margin-left: auto;
		}
		img:last-of-type {
			@include absolute($b: 80px, $l: -20px);
			margin: 2rem;
		}
	}
}

/* ========== (2.5)JOIN ========== */

#join {
	@include bgColor(#000, #fff);
	position: relative;
	padding: 7vw 10vw 5vw;
	overflow: hidden;
	h4 {
		width: 35vw;
	}
	button {
		margin-top: 1rem;
	}
}
/* ========== (2.5.1)ANIMATED SIDEBANNER ========== */

.banner {
	@include bgColor(#fff, #000);
	position: relative;
	left: 200px;
	transform: rotate(45deg);
	width: 1250px;
	position: relative;
	h2 {
		padding: 1vw;
		display: inline-block;
		transform: translateX(100%);
		animation: loop 6s infinite linear;
		span {
			@include stroke(#000, #fff);
		}
	}
	h2:last-of-type {
		@include absolute($l: 0px);
		animation-delay: 3s;
	}
}
/* ========== (3)FOOTER ========== */

footer {
	@include bgColor(#000, #fff);
	@include flex;
	padding: 0 10vw 5vw;
	section {
		.socials {
			img {
				width: 20px;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
	.sponsor {
		img {
			width: 7vw;
		}
	}
}

/* ========== ANIMATIONS ========== */

/* banner animation -  (2.5)JOIN*/
@keyframes loop {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}
/* rotating cirlce animation - (2.3)GOLDEN BEAR */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
