@mixin bgColor($color, $bg-color) {
	background-color: $color;
	color: $bg-color;
}
@mixin stroke($stroke, $fill) {
	-webkit-text-stroke: 1px $stroke;
	-webkit-text-fill-color: $fill;
}

@mixin flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin absolute($t: auto, $l: auto, $b: auto, $r: auto, $z: 0) {
	position: absolute;
	top: $t;
	left: $l;
	bottom: $b;
	right: $r;
	z-index: $z;
}
