* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Lora;
  src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
html {
  background-color: #000;
}

body {
  max-width: 1290px;
  min-width: 1290px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: Lora;
  font-variation-settings: "wght" 400;
}

h1,
h2 {
  font-size: 5.5rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2rem;
}

p {
  font-size: 1rem;
  font-family: "Work Sans";
  font-variation-settings: "wght" 600;
  margin-block: 2vw;
  line-height: 2rem;
}

button {
  all: unset;
  font-size: 1.2rem;
  font-family: "Work Sans";
  border: 1px solid #fff;
  padding: 15px 30px;
  transition: ease 0.4s all;
}
button:hover {
  background-color: #fff;
  color: #000;
}

/* ========== HEADER ========== */
header {
  background-color: #000;
  color: #fff;
  padding: 0 10vw 10vw;
  text-align: center;
}
header article {
  padding-top: 5vw;
}
header article h1:last-of-type {
  -webkit-text-stroke: 0.01px #fff;
  -webkit-text-fill-color: #000;
  font-variation-settings: "wght" 600;
}
header article.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header article.logo img {
  width: 54px;
}

/* ========== STATISTICS ========== */
#statistic {
  background-color: #000;
  color: #fff;
  padding: 3vw 10vw 2vw;
  background: url(../img/map.svg) 100% 77%/39% no-repeat;
}
#statistic h2 {
  width: 70vw;
  line-height: 7rem;
}
#statistic article:first-of-type {
  margin-top: 8vw;
}
#statistic article {
  margin: 5vw 0;
}
#statistic article p {
  margin: 0.5vw 0;
}

/* ========== ACTION ========== */
#action {
  background-color: #fff;
  color: #000;
  position: relative;
  height: 300vh;
}
#action img {
  position: absolute;
}
#action .pic1 {
  right: 150px;
  top: -90px;
}
#action .pic2 {
  top: 250px;
  left: 40px;
}
#action .pic3 {
  right: 0;
  top: 600px;
}
#action .pic4 {
  left: 300px;
  top: 900px;
}
#action .pic5 {
  right: 200px;
  top: 1000px;
}
#action .pic6 {
  left: 0px;
  bottom: 1000px;
}
#action .pic7 {
  right: 200px;
  bottom: 600px;
}
#action article {
  margin: 0 auto;
  padding: 30vw 0 100vw;
  width: 33vw;
}
#action p {
  margin: 1rem auto;
  width: 33vw;
}

/* ========== GOLDEN BEAR ========== */
#golden-bear {
  background-color: #000;
  color: #fff;
  position: relative;
  padding: 17vw 10vw 0;
}
#golden-bear .images {
  margin: 0 2rem;
  position: relative;
  top: 80px;
}
#golden-bear .images img:first-of-type {
  width: 48vw;
}
#golden-bear .images img:last-of-type {
  width: 25vw;
  z-index: 3;
  position: absolute;
  margin: 2rem;
  bottom: 40px;
  right: -80px;
}
#golden-bear .circle {
  width: 25vw;
  position: absolute;
  bottom: -250px;
  right: -110px;
  z-index: 1;
  animation: rotate 4s infinite linear;
}

/* ========== POPPY BEAR ========== */
#poppy-bear {
  background-color: #fff;
  color: #000;
  padding: 25vw 10vw 5vw;
}
#poppy-bear .images {
  margin: 2rem;
  position: relative;
  display: flex;
}
#poppy-bear .images img:first-of-type {
  margin-left: auto;
  width: 48vw;
}
#poppy-bear .images img:last-of-type {
  width: 25vw;
  position: absolute;
  margin: 2rem;
  bottom: 80px;
  left: -80px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text .title {
  width: 30vw;
}
.text .title p {
  margin-block: 0 1vw;
}
.text .quote {
  width: 33vw;
}
.text .quote p {
  margin-block: 1vw 0;
}

/* ========== JOIN ========== */
#join {
  background-color: #000;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 7vw 10vw 5vw;
}
#join p {
  margin-block: 1rem;
}
#join h4 {
  width: 31vw;
}
#join button {
  margin-top: 1rem;
}

.banner {
  background-color: #fff;
  color: #000;
  position: absolute;
  transform: translateX(300px) rotate(45deg);
}
.banner h2 {
  animation: run 3s infinite linear;
}
.banner h2 span {
  -webkit-text-stroke: 0.01px #000;
  -webkit-text-fill-color: #fff;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 0 10vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer section .socials img {
  width: 20px;
}
footer section .credits p {
  margin-block: 1rem;
}
footer .sponsor img {
  width: 7vw;
}

/* ========== ANIMATIONS ========== */
@keyframes run {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(30%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
